html {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  font-family: $font__body;
  font-size: em(16px);
  font-weight: 400;
  line-height: $font__line-height-body;
  color: #3d3d3d;
}

@import "headings";

@import "copy";